<!-- 
Title: Jukebox UI
Used In File(s): \code\game\machinery\jukebox.dm
 -->

<H3><span class="white">Current track:</span> <span class="average">{{:data.current_track}}</span></H3>
<div>
    {{:helper.link('Play' , 'play', {'play' : 1}, data.playing == 1 ? 'disabled' : null, null)}}
    {{:helper.link('Stop' , 'stop', {'stop' : 1}, data.playing == 0 ? 'disabled' : null, null)}}
</div>

<H3><span class="white">Volume:</span></H3>
{{:helper.displayBar(data.volume*2, 0, 100, 'average')}}
<div class="itemContent">
    {{:helper.link('0' , null, {'volume' : 0}, data.volume == 0 ? 'disabled' : null, null)}}
    {{:helper.link('20' , null, {'volume' : 10}, data.volume == 10 ? 'disabled' : null, null)}}
    {{:helper.link('40' , null, {'volume' : 20}, data.volume == 20 ? 'disabled' : null, null)}}
    {{:helper.link('60' , null, {'volume' : 30}, data.volume == 30 ? 'disabled' : null, null)}}
    {{:helper.link('80' , null, {'volume' : 40}, data.volume == 40 ? 'disabled' : null, null)}}
    {{:helper.link('100' , null, {'volume' : 50}, data.volume == 50 ? 'disabled' : null, null)}}
</div>

<div class="item">
	<div class="itemLabel">Loop Mode:</div>
	<div class="itemContent">
	    {{:helper.link('Next',		'triangle-1-e',		{'loopmode' : 1}, data.loop_mode == 1 ? 'disabled' : null, null)}}
	    {{:helper.link('Random',	'shuffle',			{'loopmode' : 2}, data.loop_mode == 2 ? 'disabled' : null, null)}}
	    {{:helper.link('Repeat',	'arrowrefresh-1-w',	{'loopmode' : 3}, data.loop_mode == 3 ? 'disabled' : null, null)}}
	    {{:helper.link('Once',		'arrowstop-1-e',	{'loopmode' : 4}, data.loop_mode == 4 ? 'disabled' : null, null)}}
	</div>
</div>

<H3><span class="white">Available tracks:</span></H3>
<div class="itemContent">
    {{for data.tracks}}
        <div class="item">
            {{:helper.link( value.track, 'gear', {'title' : value.track}, value.track == data.current_track ? 'disabled' : null, null)}}    
        </div>
    {{/for}}
</div>